/* Fonts */

$primary-font: 'Roboto', sans-serif;
$basic-font-size: 16px;

/*Color*/
$basic-font-color: #121212;
$prima-color: #E4C1AE;
$prima-hover-color: #eba580;


/*Brakpoint*/

$extra-small: 576px;
$small: 768px;
$medium: 992px;
$large: 1200px;
$extra-large: 1440px;