.container{
    max-width: 1440px;
    display: flex;
    align-items: center;
    padding: 96px 96px 0px;
    margin: auto;
   .col{
       padding: 40px;
   }
}

// @media all and (max-width: $large){
//     .container{
//         flex-direction: column;
//         }
// }

@media all and (max-width: $medium){
    .container{
        flex-direction: column;
        width: auto;
        padding: 15px;
        .col{
            padding: 10px;
        }
    }
}