.main-content{
    .image{
        img{
            position: relative;
            width: 505px;
            height: 330px;
        }
    }
    .content{
        max-width: 380px;
        max-height: 250px;
        h1{
            font-size: 42px;
            margin: 0px;
        }
        p{
            font-size: $basic-font-size;
            line-height: 24px;
            margin: 32px 0px 24px 0px;
        }
        
    }


    
    
    .pop-up{
        width: 920px;
        height: 210px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        background-color: #fff;
        position: absolute;
        border: solid 1px black;
        padding: 56px 95px;
        z-index: 100;
        .x{
            position: absolute;
            top: 15%;
            right: 15%;
            font-size: 20px;
            font-weight: 700;
            &:hover{
                color: rgb(88, 85, 85);
                cursor: pointer;
            }
        }
        h2{
            font-size: 42px;
        }
        p{
            font-size: $basic-font-size;
            span{
                font-weight: 700;
            }
        }
        button{
            width: 128px;
            height: 48px;
        }
    }
}

@media all and (max-width: $extra-large){
    .main-content{
        .image{
            img{
                max-height: 330px;
                width: 100%;
                height: 100%;
            }
        }
        .pop-up{
            width: 520px;
            height: 210px;
        }
    }
}

@media all and (max-width: $medium){
   .main-content{
    .pop-up{
        width: 250px;
        height: 140px;
    }
   }
    
}