.main-content{
    .image{
        img{
            height: auto;
            width: 100%;
        }
    }
    .content{
        h1{
            font-size: 42px;
            margin: 0px;
        }
        p{
            font-size: $basic-font-size;
            line-height: 24px;
        }
        
    }

}